@model UploadingFileUsingAjaxAndHTML5.UserTable

@{
    ViewBag.Title = "Login";
}

<link href="~/Content/loginStyle.css" type="text/css" rel="stylesheet" />

@using (Html.BeginForm("Login", "Uploader", FormMethod.Post))
{
    //create form tag
    @Html.AntiForgeryToken()    //prevent CSRF attack
    @Html.ValidationSummary(true)
    if (@ViewBag.Message != null)
    {
        <div style="border:1px solid red">
            @ViewBag.Message
        </div>
    }

    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>Login to DragCase</h1><br>
            <form>
                @Html.TextBoxFor(a => a.Username, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.Username, "", new { @class = "text-danger" })

                @Html.PasswordFor(a => a.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.Password, "", new { @class = "text-danger" })
                <input type="submit" name="login" class="login loginmodal-submit" value="Login">
            </form>

            <div class="login-help">
                <a href="#">Register</a> - <a href="#">Forgot Password</a>
            </div>
        </div>
    </div>

}

@* Line below for create js *@

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")    
}